.row {
    @mixin clearfix;
    /* margin-bottom: 40px; */
    &__mtb {
        padding: 40px 0;
    }

    &__mtb--small {
        padding: 5px 0;
    }

    &__border {
        border-bottom: 1px solid #EFEFEF;
    }

    &--gutters > div {
        margin-bottom: 20px;
    }

    @mixin atSmall {
        &--gutters {
            margin-right: -20px;
        }

        &--gutters > div {
            padding-right: 20px;
        }
    }

    @mixin atMedium {
        &--gutters {
            margin-right: -35px;
        }

        &--gutters > div {
            padding-right: 35px;
        }        
    }
}

.gutters {
    margin-right: -65px;
    & > div { padding-right: 65px; }  /* here, the divs are columns inside of the row */

    &--small {
        margin-right: -45px;
        & > div { padding-right: 45px; }
    }

    &--large {
        margin-right: -100px;
        & > div { padding-right: 100px; }
    }
}

.col {
    &--mt-until-medium { margin-top: 30px; }

    @mixin atSmall {
       &--s-4 { /* Full class name example: cal--m-4 */
            float:left;
            width:33.33%;
        }

        &--s-6 {
            position: relative;
            float:left;
            width:50%;
        }

        &--s-8 {
            float:left;
            width:66.66%;
        }
    }

    @mixin atMedium {
        &--mt-until-medium { margin-top: 0; }

        &--m-4 { /* Full class name example: cal--m-4 */
            float:left;
            width:33.33%;
        }

        &--m-6 {
            float:left;
            width:50%;
        }

        &--m-8 {
            float:left;
            width:66.66%;
        }
    }

    &-2-by-2 {
        display: flex;
        flex-wrap: wrap;

        & > li {
            margin-bottom: 30px;
            margin-right: 3%;
            padding: 16px 30px 16px 16px;
            @mixin atMedium {
                flex: 0 0 46%;
            }
        }

        & > li:nth-child(even) {
            margin-right: 0;
        }
    }

}