/* base horizontal padding 
   centering */
.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 32px;

    &--dynamic-header {
        /* background-color: #f8f6fe;  */
        /* border-bottom: 1px solid #f0f0f0; */
    }
    
    &--centered-desc {
        @mixin atMedium {
            margin: 0 auto;
            max-width: 760px;
            margin-bottom: 50px;
        }

        &--narrow {
            @mixin atMedium {
                margin: 0 auto;
                max-width: 660px;
                margin-bottom: 50px;
            }
        }
    }
}

.site-content {
    position: relative;
    /* top:120px; */
}

/* (temp) main section */


.page-section {
    margin-top: 45px;
    margin-bottom: 45px;
}