/* Google font 'Lato' weight

    light   300
    regular 400
    bold    700
    black   900

*/

h1 {
    font-size: 54px;
    font-weight: 700;
}

.h--small {
    line-height: 1.8;
    font-size: 18px;
    color: #303030;
    letter-spacing: .3px;
    font-weight: 400; 
}

.p--desc {  /* paragraph - description */
    line-height: 1.8;
    font-size: 16px;
    color: #303030;
    letter-spacing: .3px;
    font-weight: 400;

    &--small {
        font-size: 15px; 
        letter-spacing: .3px;
        line-height: 1.8;  
        color: #707070;
    }
    
    &--mb {
        margin-bottom: 20px;
    }

    &--mb--small {
        margin-bottom: 10px;
    }

    &--mt {
        margin-top: 30px;
    }

    @mixin atSmall {
        font-size: 18px;
    }
}