$primaryCol: #5030B1;
$primaryCol-lighter: #8C73FF;
$primaryCol-point: #9028EF;
$primaryCol-lightest: #f8f5ff;

$secondaryCol-lighter: #CD94FF;

$heading-black: #3c3b40;

$grey-font: rgb(150, 150, 150);
$grey-font-dark: #707070;