/* 3rd party packages */
/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}
.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}
.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
* {
	box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #070707;
}
img {
	max-width:100%;
	height:auto;
}
a {
	color: #412496;
    text-decoration: none;
}
ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}
/*****  MEDIA QUERY  *****/
h1 {
    font-size: 54px;
    font-weight: 500;

}
/*****  REVEAL ITEM  *****/
/* .reveal-item {
	opacity: 0;
	transform: scale(1.2);
	transition: all 1s ease-out;

	&--visible {
		opacity: 1;
		transform: scale(1);
	}
} */
@-webkit-keyframes fadeInThenMoveRight {
	0% {
		opacity: 0;
		-webkit-transform: translateX(0);
		        transform: translateX(0);
	}

	50% {
		opacity: 1;
		-webkit-transform: translateX(0);
		        transform: translateX(0);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateX(30px);
		        transform: translateX(30px);
	}
}
@keyframes fadeInThenMoveRight {
	0% {
		opacity: 0;
		-webkit-transform: translateX(0);
		        transform: translateX(0);
	}

	50% {
		opacity: 1;
		-webkit-transform: translateX(0);
		        transform: translateX(0);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateX(30px);
		        transform: translateX(30px);
	}
}
@-webkit-keyframes fadeInThenMoveLeft {
	0% {
		opacity: 0;
		-webkit-transform: translateX(0);
		        transform: translateX(0);
	}

	50% {
		opacity: 1;
		-webkit-transform: translateX(0);
		        transform: translateX(0);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateX(-30px);
		        transform: translateX(-30px);
	}	
}
@keyframes fadeInThenMoveLeft {
	0% {
		opacity: 0;
		-webkit-transform: translateX(0);
		        transform: translateX(0);
	}

	50% {
		opacity: 1;
		-webkit-transform: translateX(0);
		        transform: translateX(0);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateX(-30px);
		        transform: translateX(-30px);
	}	
}
.row::after{
		content: "";
		clear: both;
		display: table;
	}
.gutters {
    margin-right: -65px;
}
.gutters > div { padding-right: 65px; }
/* here, the divs are columns inside of the row */
.gutters--small {
        margin-right: -45px;
    }
.gutters--small > div { padding-right: 45px; }
.gutters--large {
        margin-right: -100px;
    }
.gutters--large > div { padding-right: 100px; }
.col--4 {
        float:left;
        width:33.33%;
    }
.col--6 {
        float:left;
        width:50%;
    }
.col--8 {
        float:left;
        width:66.66%;
    }
/* base horizontal padding 
   centering */
.container {
    max-width: 1152px;
    margin: 0 auto;
    padding: 0 32px;
}
/* (temp) main section */
.page-section {
    margin-top: 45px;
    margin-bottom: 45px;
}
.btn {
    display: inline-block;
    margin: 30px 0;
    /* height: 62px; */
    padding: 22px 45px;
}
.btn--underline {
        background-color: #412496;
        /* display: flex;
        justify-content: center;
        align-items: center; */
        border-radius: 60px;
        color: #fff;
        font-weight: 300;
        font-size: 15px;
        letter-spacing: 1px;
    }
.primary-nav {
    display: none;

}
.primary-nav__list {
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: justify;
                justify-content: space-between;
        width: 346px;
    }
.primary-nav__list li {
    }
.overlay-nav {
    /* opacity: 0; */

    width: 100%;
    height: 100%;
    background-color: rgba(46, 58, 62, 0.92);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);

    -webkit-transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);

    transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
}
.overlay-nav--is-open {
        /* opacity: 1; */
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
    }
.hamburger {
    width: 40px;
    height: 40px;
    position: absolute;
    z-index: 2;

}
/* border: 1px solid red; */
.hamburger:hover {
        cursor: pointer;
    }
.hamburger__icon, .hamburger::after, .hamburger::before {
        width: 28px;
        height: 2px;
        background-color: #333;
        -webkit-transition: all .5s ease-out;
        transition: all .5s ease-out;
    }
.hamburger__icon {
        position: absolute;
        top: 8px;
    }
.hamburger::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        -webkit-transform-origin: 0 0;
                transform-origin: 0 0;
    }
.hamburger::after {
        content: "";
        position: absolute;
        top: 16px;
        -webkit-transform-origin: 0 0;
                transform-origin: 0 0;
        /* background-color: pink; */

    }
.hamburger--is-close-icon::before {
			-webkit-transform: rotate(45deg) scaleX(1.2) translateX(0px) translateY(-2px);
			        transform: rotate(45deg) scaleX(1.2) translateX(0px) translateY(-2px);
            background-color: #fff;
        }
.hamburger--is-close-icon .hamburger__icon {
			/* opacity:0; */
			-webkit-transform: scaleX(0);
			        transform: scaleX(0);
		}
.hamburger--is-close-icon::after {
			-webkit-transform: rotate(-45deg) scaleX(1.2) translateX(-4px) translateY(4px);
			        transform: rotate(-45deg) scaleX(1.2) translateX(-4px) translateY(4px);
            background-color: #fff;
        }
.site-header__content {
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
                align-items: center;
        height: 120px; 
    }
.site-header__logo-text {
        font-size: 32px;
        font-weight: 900;
        letter-spacing: -1.04px;
    }
.hero {
    position: relative;
    color: #fff;
    text-align: center;
    height: 646px;
    overflow: hidden;

}
.hero::after {
        content: '';
        display:  block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: -webkit-gradient(linear, left bottom, left top, from(rgba(125, 53, 214, 0.90)), to(rgba(70, 23, 171, 0.90)));
        background: linear-gradient(to top, rgba(125, 53, 214, 0.90) 0%, rgba(70, 23, 171, 0.90) 100%)
    }
.hero__heading {
            position: absolute;
            z-index: 1;
            width: 100%;
            margin-top: 200px;

    }
.hero__heading--intro {
            font-size: 16px;
            font-weight: 300;
            letter-spacing: 1.8px;
            width: 240px;
            margin: 0 auto;
            line-height: 1.6;
        }
.hero__heading--concept {
            margin-top: 20px;
            font-size: 28pt;
            letter-spacing: 5pt;
            font-weight: 600;
        }
.hero__heading--keywords {
            margin-top: 20px;
            font-size: 16px;
            letter-spacing: 1.4px;
            font-weight: 400;
        }
.hero-slider__img {
            width: 100%;
            height: 646px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            opacity: 0.5;
            -webkit-transition: opacity 2s linear, -webkit-transform 10s linear;
            transition: opacity 2s linear, -webkit-transform 10s linear;
            transition: transform 10s linear, opacity 2s linear;
            transition: transform 10s linear, opacity 2s linear, -webkit-transform 10s linear;
        }
/* &[aria-hidden="false"] {
            } */
.slick-active .hero-slider__img {
                                opacity: 1;

                -webkit-transform: scale(1.1);

                        transform: scale(1.1);
            }
.hero-slider__img--01 {
                background-image: url('../../assets/images/hero_01.jpg');
            }
.hero-slider__img--02 {
                background-image: url('../../assets/images/hero_02.jpg');
            }
.hero-slider__img--03 {
                background-image: url('../../assets/images/hero_03.jpg');
            }
.section {
    padding-top: 80px;
    padding-bottom: 80px;
}
.section__design {
        background-color: #FBF9FF;
    }
.section__banner {
        background-color: #412496;
        text-align: center;
        color: #fff;
        font-weight: 300;
        padding-left: 70px;
        padding-right: 70px;
    }
.section__banner-eyebrow {
            color: rgba(255,255,255, 0.7);
        }
.section__banner-copy {
            margin-top: 15px;
            line-height: 1.6;
            letter-spacing: 1px;
            font-size: 20px;
        }
.section__container { /* contain A-level */
        border: 1px solid #999999;
        max-width: 1024px;
        margin: 0 auto;
    }
@media (min-width:800px){
.section__container {
            padding-right: 300px
    }
	}
.section__illust {
        max-width: 700px;
        margin: 30px 0;
    }
@media (min-width:800px){
.section__illust {
            width: 600px
    }
	}
/************** Each Block *************/
.section__header {  /* wrapper A-level */
        padding: 0 32px;
        max-width: 700px;
        border: 1px solid blue;
    }
.section__side {   /* wrapper A-level */
        border: 1px solid orange;
    }
.section__side--left-padding {
            padding: 0 32px;
        }
.section__side--right-padding {
            padding: 0 32px;
        }
.section__side-container {
            margin-top: 24px;
        }
.section__side-container > img {
                width: 100%;
                height: 300px;
                -o-object-fit: cover;
                   object-fit: cover;
            }
.section__side-container > .img1 {
                margin-bottom: 20px;
            }
@media (min-width:800px){

                .section__side-container > .img1 {
                    margin-right: 3%;
                    margin-bottom: 0;
                }

                .section__side-container > img {
                    width: 45%;
                }
	}
.section__cta {   /* wrapper A-level */
        padding: 0 32px;
        border: 1px solid red;
        text-align: center;
    }
/************** Section Specific Elements *************/
.section__eyebrow {
       letter-spacing: 1.4px; 
       font-size: 14px;
       font-weight: 500;
       color: #9028EF;
    }
.section__eyebrow--bw1 { /* an inner part eyebrow of a certain section */
            color: #505050;
            padding-top: 50px;
            text-align: center;
       }
.section__heading {
        font-size: 28px;
        font-weight: 300;
        line-height: 1.4;
        margin-top: 30px;
        -webkit-transform: translateX(-2px);
                transform: translateX(-2px); /* aligned to the left */
    }
.section__paragraph {
        margin-top: 16px;
        font-weight: 400;
        line-height: 1.8;
        letter-spacing: .5px; 
        color: #303030;
    }
.illust__container {
        border: 1px solid red;
        display: -webkit-box;
        display: flex;
        position: relative;
        -webkit-box-pack: center;
                justify-content: center;

    }
.illust__circle {
        position: relative;
        font-size: 14px;
        text-align: center;
        border-radius: 50%;
        border: 1px solid grey;
        width: 8rem;
        height: 8rem;
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: center;
                justify-content: center;
        -webkit-box-align: center;
                align-items: center;
        padding: 2rem;
    }
@media (min-width:800px){
.illust__circle {
            font-size: 16px;
            width: 12rem;
            height: 12rem
    }
	}
.illust__circle--big {  /* Front-end circle */
            width: 11rem;
            height: 11rem;   
            background-color: #fff;
        }
@media (min-width:800px){
.illust__circle--big {
                width: 13.5rem;
                height: 13.5rem
        }
	}
.illust__circle--medium {  /* Back-end circle */
            width: 9.5rem;
            height: 9.5rem;    
            background-color: #fff;
            -webkit-transform: translate(-10px, 12px);
                    transform: translate(-10px, 12px);
            z-index: -1;
        }
@media (min-width:800px){
.illust__circle--medium {
                width: 11.5rem;
                height: 11.5rem
        }
	}
.illust__circle--left {
            opacity: 0;
        }
.is-in-view .illust__circle--left {
                -webkit-animation-name: fadeInThenMoveRight;
                        animation-name: fadeInThenMoveRight;
                -webkit-animation-duration: 1.5s;
                        animation-duration: 1.5s;
                -webkit-animation-timing-function: ease;
                        animation-timing-function: ease;
                -webkit-animation-delay: .5s;
                        animation-delay: .5s;
                -webkit-animation-direction: normal;
                        animation-direction: normal;
                -webkit-animation-fill-mode: forwards;
                        animation-fill-mode: forwards;
                /* No setting for animation-iteration-count, animation-play-state  */
            }
.illust__circle--center {
            border-color: #9028EF;
            color: #9028EF;
            opacity: 0;
            -webkit-transition: opacity .5s ease-out;
            transition: opacity .5s ease-out;
        }
.is-in-view .illust__circle--center {
                opacity: 1;
            }
.illust__circle--right {
            opacity: 0;
        }
.is-in-view .illust__circle--right {
                -webkit-animation-name: fadeInThenMoveLeft;
                        animation-name: fadeInThenMoveLeft;
                -webkit-animation-duration: 1.5s;
                        animation-duration: 1.5s;
                -webkit-animation-timing-function: ease;
                        animation-timing-function: ease;
                -webkit-animation-delay: .5s;
                        animation-delay: .5s;
                -webkit-animation-direction: normal;
                        animation-direction: normal;
                -webkit-animation-fill-mode: forwards;
                        animation-fill-mode: forwards;
                /* No setting for animation-iteration-count, animation-play-state  */
            }
.illust__circle-inner {
            display: -webkit-box;
            display: flex;
            -webkit-box-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
                    align-items: center;
            font-size: 12px;
            position: absolute;
            border: 1px solid grey;
            border-radius: 50%;
            width: 4rem;
            height: 4rem;
            background-color: #ffffff;
        }
/* Front-end Items */
.illust__circle-inner--title1 {
                -webkit-transform: translateY(-50px);
                        transform: translateY(-50px);
                width: 4rem;
                border: none;
            }
.illust__circle-inner--item2 {  /* item 'CSS' */
                -webkit-transform: translate(-30px, 32px);
                        transform: translate(-30px, 32px);
            }
.illust__circle-inner--item3 {  /* item 'JS' */
                -webkit-transform: translate(30px, 32px);
                        transform: translate(30px, 32px);
            }
/* Back-end Items */
.illust__circle-inner--title2 {
                -webkit-transform: translateY(-30px);
                        transform: translateY(-30px);
                width: 4rem;
                border: none;
            }
.illust__circle-inner--item4 {  /* item 'MongoDB' */
                -webkit-transform: translate(28px, 15px);
                        transform: translate(28px, 15px);
                padding: 10px;
            }
.illust__circle-inner--item5 {  /* item 'ExpressJS' */ 
                -webkit-transform: translate(-28px, 15px); 
                        transform: translate(-28px, 15px);
                padding: 20px;
            }
.cards {
    margin-top: 30px;
}
.cards__card { /* a */
        border: 1px solid blue;
        display: block;
        margin-bottom: 20px;
        padding-bottom: 20px;
        color: #505050;
    }
@media (min-width:530px){
.cards__card {
            /* width: 80%; */
    }
	}
.card__img-container {

    }
.card__info {
        padding:0 32px;
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column;
    }
.card__title {
        margin-top: 10px;
        font-weight: 400;
        font-size: 18px;
    }
.card__meta {
        margin-top: 20px;
        color: #999;
    }
/* .mh-16 {
    padding-left: 16px;
    padding-right: 16px;
} */
* {
    /* border: none !important; */
}