.numberbox {
    border-bottom: 1px solid rgb(234, 234, 234);
    display: flex;
    @mixin atMedium {
        border: 1px solid rgb(234, 234, 234);
    }

    &__number {
        padding-left: 10px;
        padding-right: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        color:  #DED3FF;
        @mixin atMedium {
            padding-left: 40px;
        }
    }

    &__content {

    }

    &__heading {
        font-size: 15px;
        margin-bottom: 10px;
        color: #8149ff;
    }

    &__desc {
        font-size: 18px;
    }
}

.iconbox { 
    padding: 35px;
    border: 1px solid rgb(234, 234, 234);
    text-align: left;
    font-weight: 400;

    &__icon {
        width: 50px;
        height: 50px;
        margin-bottom: 35px;
    }

    &__heading {
        margin-bottom: 20px;
    }

    &__desc {
        color: $grey-font-dark;
        line-height: 1.9;
    }
}