.btn {
    display: inline-block;
    margin: 30px 0;
    /* height: 62px; */
    padding: 22px 45px;

    &--underline {
        background-color: #412496;
        border-radius: 60px;
        color: #fff;
        font-weight: 300;
        font-size: 15px;
        letter-spacing: 1px;
    }

    &--edge {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        z-index: 1;
        width: 195px;
        height: 45px;
        transform: rotate(90deg);
        background-color: #fff;
        letter-spacing: .8px;
        /* margin: 30px 0; */

        &--top-right {
            top: 75px;
            right: -80px;

            @mixin atMedium {
                top: 0px;
                right: 0;
            }
        }

        &--bottom-right{
            bottom: 75px;
            right: -80px;

            @mixin atMedium {
                bottom: 0px;
                /* left: 0; */
                right: 0;
            }
        }

        &--f-bw {
            color: rgb(50, 50, 50);
        }

        @mixin atMedium {
            transform: rotate(0deg);
            padding: 30px 100px;
        }    
    }
}