.btn {
    display: inline-block;
    /* margin: 30px 0 30px 32px; */
    padding: 26px 58px;

    &--plain {
        color: $primaryCol-point;
    }

    &--accent {
        color: #fff;
        background-color: #412496;
        font-weight: 400;
        letter-spacing: 1px;
        text-align: center;
        margin-top: 30px;
        border-radius: 2px;
    }

    &--fill {
        border: 1px solid #fff;
        color: #fff;
        font-weight: 400;
        font-size: 15px;
        letter-spacing: 1px;
    }

    &--edge {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        z-index: 1;
        width: 200px;
        height: 45px;
        transform: rotate(90deg);
        background-color: #fff;
        letter-spacing: 1.6px;
        font-size: 14px;
        /* border-radius: 0 0 30px 30px; */
        @mixin atMedium {
            border-radius: 0 0 0 0;
            width: 230px;
            height: 75px;   
        }

        &--top-right {
            top: 75px;
            right: -80px;

            @mixin atMedium {
                top: 0px;
                right: 0;
            }
        }

        &--bottom-right{
            bottom: 80px;
            right: -80px;

            @mixin atMedium {
                bottom: 0px;
                right: 0;
            }
        }

        &--f-bw {
            color: #fff;
            background-color: $primaryCol;
        }

        @mixin atMedium {
            transform: rotate(0deg);
            padding: 30px 50px;
        }    
    }
}