.cards {
    margin-top: 30px;
    &__card { /* a */
        border: 1px solid blue;
        display: block;
        margin-bottom: 20px;
        padding-bottom: 20px;
        color: #505050;

        @mixin atSmall {
            /* width: 80%; */
        }
    }
}

.card {
    &__img-container {

    }

    &__info {
        padding:0 32px;
        display: flex;
        flex-direction: column;
    }

    &__title {
        margin-top: 10px;
        font-weight: 400;
        font-size: 18px;
    }

    &__meta {
        margin-top: 20px;
        color: #999;
    }
}