.slider-image {
    /* border: 1px solid orange; */
    width: 120%;
    transform: translateX(-8.5%);
    height: 500px;

    @mixin atMedium {
        float: left;
        width: 100%;   
        transform: translateY(-150px);
    }
}

.slider-content {
    /* background-color: #fff; */
    position: relative;
    /* background-color: yellow; */
    height: 60%;

    @mixin atSmall {
        /* float: left; */
        /* width: 50%;    */
    }
}

.heading__accent {
    margin-bottom: 10px;
    color: #8149ff;
}

.pagingInfo {
    position: absolute;
    bottom: -10px;
    left: -70px;
    border: 1px solid pink;
    font-size: 14px;
    letter-spacing: 2px;
    color: #AF91FF;
    transform: translateY(100%);
    text-align: right;

    @mixin atSmall {
        transform: translateY(0);
        text-align: left;
        margin-bottom: 20px;
    }
}

.item-i {
    display: inline-block;
    height: 700px;
    /* border: 1px solid red;
    background-color: red; */
}

.img-wrapper {
    /* width: auto;     */
    height: 500px;
    /* overflow: scroll;
    -webkit-overflow-scrolling: touch; */
    @mixin atMedium {
        height: 600px;  
    }
}

.img {
   width: auto;
   margin: 0 auto;
   transform: translateY(40px);
   height: 90%;
   box-shadow: rgba(136, 139, 162, 0.18) 10px 11px 44px;
}

.item-c {
    display: block;
    /* border: 1px solid blue; */
    width: 100%;
    height: 280px;
    /* padding: 20px; */
    opacity: 0;
    transform: translateX(-100px);
    transition: transform 0.9s cubic-bezier(0.77, 0, 0.175, 1), opacity 0.9s ease-in-out, -webkit-transform 0.9s cubic-bezier(0.77, 0, 0.175, 1);
}


.slick-current .item-c {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
}


button.slick-arrow {
    border: none;
    position: absolute;
    border: 1px solid #eaeaea;
    background-color: transparent;
    width: 64px;
    height: 300px;
    z-index: 999;
    top: 0;
    transform: translateY(-140%);

    @mixin atSmall {
        margin-top: 30px;
        width: 64px;
        /* height: 64px; */
        /* transform: translateY(0); */
    }

    @mixin atMedium {
        transform: translateY(0);
        height: 64px;
        top: 60%;
    }
}

button.slick-arrow:hover {
    cursor: pointer;
}

button.slick-arrow:active {
    background-color: #f8f5ff;
}


button.slick-prev {
    text-indent: -9999px;
    left:0;
    @mixin atSmall {
        left: 20%;
    }
    @mixin atMedium {
        left: 0;  
    }
}

button.slick-next {
    text-indent: -9999px;
    right: 0;
    @mixin atSmall {
        right: 20%;
    }
    @mixin atMedium {
        left: 63px;
    }
    /* transform: translateX(-65px); */
}