/* .featured-work {
    position: absolute;
    right: 0;
    margin-top:200px;
    margin-right: -32px;

    &__list {
        display: flex;
    }

    &__img {
        width: 400px;
        height: 300px;
        object-fit: cover;
    }

    &__heading {
        color: #999999;
        letter-spacing: 1px;
        font-size: 14px;
        margin-bottom: 20px;
    }

    &__link {
        display: block;
        position: relative;
    }


    &__title {
        position: absolute;
        top: 0;
    }
} */