.hero {
    position: relative;
    color: #fff;
    /* text-align: center; */
    height: 646px;
    overflow: hidden;

    &--subpage {
        height: 446px;
    }

    .page-work1 & {
        background-image: url('../../assets/images/work_hero_01_mine.jpg');
        background-size: cover;
        -webkit-background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;

        @mixin atMedium {
            background-attachment: fixed;
            -webkit-background-attachment: fixed;
        }
    }

    &::after {
        content: '';
        display:  block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        /* background: linear-gradient(to top, rgba(125, 53, 214, 0.90) 0%, rgba(70, 23, 171, 0.90) 100%) */
        background: linear-gradient(to right, rgba(20, 0, 218, 0.83) 0%, rgba(116, 20, 204, 0.79) 100%);
        background: -webkit-linear-gradient(to right, rgba(20, 0, 218, 0.83) 0%, rgba(116, 20, 204, 0.79) 100%);

        .page-myself & {
            background: linear-gradient(to bottom, rgba(#4826B9, 1) 0%, rgba(#B92F8B, 1) 100%);
            background: -webkit-linear-gradient(to bottom, rgba(#4826B9, 1) 0%, rgba(#B92F8B, 1) 100%);
        }

        .page-work1 & {
            background: rgba(59, 62, 83, .5);
        }
    }

    &__heading {
            position: absolute;
            z-index: 1;
            width: 100%;
            margin-top: 200px;

            @mixin atLarge {
                margin-top: 150px;
            }

        &--intro {
            font-size: 16px;
            font-weight: 300;
            letter-spacing: 1.8px;
            width: 240px;
            /* margin: 0 auto; */
            line-height: 1.6;
        }

        &--concept {
            margin-top: 20px;
            font-size: 28pt;
            letter-spacing: 5pt;
            font-weight: 700;

            @mixin atSmall {
                font-size: 65px;
                letter-spacing: 6px;
            }
        }

        &--keywords {
            margin-top: 20px;
            font-size: 16px;
            letter-spacing: 1.4px;
            font-weight: 400;
        }

        &--main {
            margin-top: 20px;
            font-size: 37pt;
        }

        &--sub {
            margin-top: 20px;
            font-size: 18px;
            font-weight: 400;
            opacity: .8;
        }

    }

    &-slider {
        &__img {
            width: 100%;
            height: 646px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            opacity: 0.5;
            transition: transform 10s linear, opacity 2s linear;

            /* &[aria-hidden="false"] {
            } */
            .slick-active & {
                                opacity: 1;

                transform: scale(1.1);
            }
            &--01 {
                background-image: url('../../assets/images/hero_01.jpg');
            }
            &--02 {
                background-image: url('../../assets/images/hero_02.jpg');
            }
            &--03 {
                background-image: url('../../assets/images/hero_03.jpg');
            }
        }
    }

}