.illust {
    &__container {
        display: flex;
        position: relative;
        justify-content: center;

    }

    &-two-circles {
        display: flex;
        justify-content: center;
        /* margin-left: -30px; */
        margin-bottom: 40px;

        &__left {
            /* width: 200px;
            height: 200px; */
            width: 10rem;
            height: 10rem;
            border-radius: 50%;

            background-image: url('../../assets/images/img_woman.jpg');
            background-position: 60% center;
            background-size: cover;
        }

        &__right {
            width: 180px;
            height: 180px;
            border-radius: 50%;
            border: 1px solid #eaeaea;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: -30px;
            margin-top: 20px;
            /* position: relative;
            left:0; */

        }

        &__desc {
            margin-top: 8px;
            font-size: 15px;
            color: rgb(150, 150, 150);
            letter-spacing: .6px;
            line-height: 1.6;

            & strong {
                color: #8149ff;
                font-weight: 400;
            }
        }
    }

    &__circle {
        position: relative;
        font-size: 13px;
        line-height: 1.5;
        text-align: center;
        border-radius: 50%;
        /* border: 1px solid $primaryCol-lightest; */
        box-shadow: rgba(179, 169, 194, .15) 4px 10px 40px;
        width: 30vw;
        height: 30vw;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        flex-grow: 0;
        flex-shrink: 0;
        
        @mixin atMedium {
            font-size: 16px;
            width: 12rem;
            height: 12rem;   
        }

        &--big {  /* Front-end circle */
            width: 11rem;
            height: 11rem;   
            background-color: #fff;
            @mixin atMedium {
                width: 13.5rem;
                height: 13.5rem;
            }
        }

        &--medium {  /* Back-end circle */
            width: 9.5rem;
            height: 9.5rem;    
            background-color: #fff;
            transform: translate(-10px, 12px);
            z-index: -1;
            @mixin atMedium {
                width: 11.5rem;
                height: 11.5rem;
            }
        }

        &--left {
            opacity: 0;
            .is-in-view & {
                animation-name: fadeInThenMoveRight;
                animation-duration: 1.5s;
                animation-timing-function: ease;
                animation-delay: .5s;
                animation-direction: normal;
                animation-fill-mode: forwards;
                /* No setting for animation-iteration-count, animation-play-state  */
            }
        }

        &--center {
            border-color: $primaryCol-lightest;
            color: $primaryCol-point;
            opacity: 0;
            transition: opacity .5s ease-out;
            /* background-color: #fff; */
            .is-in-view & {
                opacity: 1;
            }
        }

        &--right {
            opacity: 0;
            .is-in-view & {
                animation-name: fadeInThenMoveLeft;
                animation-duration: 1.5s;
                animation-timing-function: ease;
                animation-delay: .5s;
                animation-direction: normal;
                animation-fill-mode: forwards;
                /* No setting for animation-iteration-count, animation-play-state  */
            }
        }

        &-inner {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 12px;
            position: absolute;
            border: 1px solid grey;
            border-radius: 50%;
            width: 4rem;
            height: 4rem;
            background-color: #ffffff;
        
            /* Front-end Items */
            &--title1 {
                transform: translateY(-50px);
                width: 4rem;
                border: none;
            }

            &--item2 {  /* item 'CSS' */
                transform: translate(-30px, 32px);
            }

            &--item3 {  /* item 'JS' */
                transform: translate(30px, 32px);
            }

            /* Back-end Items */
            &--title2 {
                transform: translateY(-30px);
                width: 4rem;
                border: none;
            }

            &--item4 {  /* item 'MongoDB' */
                transform: translate(28px, 15px);
                padding: 10px;
            }

            &--item5 {  /* item 'ExpressJS' */ 
                transform: translate(-28px, 15px);
                padding: 20px;
            }
        }
    }
}