.illust {
    &__container {
        display: flex;
        position: relative;
        justify-content: center;
        width: 100%;

        &--height {
            height: 200px;
            @mixin atMedium {
                transform: translate(0);
            }
        }
    }

    &-two-circles {
        display: flex;
        justify-content: center;
        /* margin-left: -30px; */
        margin-bottom: 40px;

        &__left {
            /* width: 200px;
            height: 200px; */
            width: 10rem;
            height: 10rem;
            border-radius: 50%;

            background-image: url('../../assets/images/img_woman.jpg');
            background-position: 60% center;
            background-size: cover;
        }

        &__right {
            width: 180px;
            height: 180px;
            border-radius: 50%;
            border: 1px solid #eaeaea;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: -30px;
            margin-top: 20px;
            /* position: relative;
            left:0; */

        }

        &__desc {
            margin-top: 8px;
            font-size: 15px;
            color: rgb(150, 150, 150);
            letter-spacing: .6px;
            line-height: 1.6;

            & strong {
                color: #8149ff;
                font-weight: 400;
            }
        }
    }

    /*  Three-circle set  */
    &__circle {
        position: relative;
        font-size: 13px;
        line-height: 1.5;
        text-align: center;
        border-radius: 50%;
        /* border: 1px solid $primaryCol-lightest; */
        box-shadow: rgba(179, 169, 194, .2) 4px 10px 40px;
        width: 200px;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        flex-grow: 0;
        flex-shrink: 0;
        
        @mixin atMedium {
            font-size: 16px;
            width: 12rem;
            height: 12rem;   
        }

        &--big {  /* Front-end circle */
            width: 11rem;
            height: 11rem;   
            background-color: #fff;
            @mixin atMedium {
                width: 13.5rem;
                height: 13.5rem;
            }
        }

        &--medium {  /* Back-end circle */
            width: 9.5rem;
            height: 9.5rem;    
            background-color: #fff;
            transform: translate(-10px, 12px);
            z-index: -1;
            @mixin atMedium {
                width: 11.5rem;
                height: 11.5rem;
            }
        }

        &--left {
            opacity: 0;
            .is-in-view & {
                animation-name: fadeInThenMoveRight;
                animation-duration: 1.5s;
                animation-timing-function: ease;
                animation-delay: .5s;
                animation-direction: normal;
                animation-fill-mode: forwards;
                /* No setting for animation-iteration-count, animation-play-state  */
            }
        }

        &--center {
            border-color: $primaryCol-lightest;
            color: $primaryCol-point;
            opacity: 0;
            transition: opacity .5s ease-out;
            /* background-color: #fff; */
            .is-in-view & {
                opacity: 1;
            }
        }

        &--right {
            opacity: 0;
            .is-in-view & {
                animation-name: fadeInThenMoveLeft;
                animation-duration: 1.5s;
                animation-timing-function: ease;
                animation-delay: .5s;
                animation-direction: normal;
                animation-fill-mode: forwards;
                /* No setting for animation-iteration-count, animation-play-state  */
            }
        }

        /* Herself page - Goal*/
        &--b-left { 
            position: absolute;
            left:0;
            top: 30%;
            transform: translate(20%, 10%);
        }

        &--b-right {
            position: absolute;
            left:0;
            top: 30%;
            transform: translateX(100%) translateY(10%);
        }

        &--t-center {
            position: absolute;
            transform: translateX(60%) translateY(-50%);
            left:0;
            top: 30%;
        }

        &-inner {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 12px;
            position: absolute;
            border: 1px solid grey;
            border-radius: 50%;
            width: 4rem;
            height: 4rem;
            background-color: #ffffff;
        
            /* Front-end Items */
            &--title1 {
                transform: translateY(-50px);
                width: 4rem;
                border: none;
            }

            &--item2 {  /* item 'CSS' */
                transform: translate(-30px, 32px);
            }

            &--item3 {  /* item 'JS' */
                transform: translate(30px, 32px);
            }

            /* Back-end Items */
            &--title2 {
                transform: translateY(-30px);
                width: 4rem;
                border: none;
            }

            &--item4 {  /* item 'MongoDB' */
                transform: translate(28px, 15px);
                padding: 10px;
            }

            &--item5 {  /* item 'ExpressJS' */ 
                transform: translate(-28px, 15px);
                padding: 20px;
            }
        }
    }
}

.circles {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    &__center {
        position: relative;
        width: 360px;
        height: 360px;
        border-radius: 50%;
        background-color: $primaryCol-lightest;
    }

    &__item {
        position: absolute;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        box-shadow: 0 10px 24px 5px rgba(0, 0, 0, .06);
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;

        &--learning {
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 120px;
            height: 120px;
            color: $primaryCol-point;
            text-align: center;
            line-height: 1.4;
            font-weight: 600;
            font-size: 16px;
            opacity: .6;
        }

        &--photoshop {
            left: 14%;
            top: -4%;

            & > .circles__img {
                width: 46%;
            }
        }

        &--illustrator {
            left: -10%;
            top: 50%;
            transform: translateY(-50%);

            & > .circles__img {
                width: 46%;
            }
        }

        &--sketch {
            top: 100%;
            transform: translateY(-80%);
            left: 14%;
        }

        &--vsc {
            right: 14%;
            top: -4%;
        }

        &--github {
            right: -10%;
            top: 50%;
            transform: translateY(-50%);
        }

        &--marvel {
            top: 100%;
            transform: translateY(-80%);
            right: 14%;

            & > .circles__img {
                width: 70%;
                margin-top: -5px;
            }
        }


    }

    &__img {
        width: 50%;
    }
}