.primary-nav {
    display: none;

    &__list {
        display: flex;
        justify-content: space-between;
        width: 346px;
    }

    &__list li {
    }

}

.overlay-nav {
    /* opacity: 0; */

    width: 100%;
    height: 100%;
    background-color: rgba(46, 58, 62, 0.92);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    transform: translate3d(-100%, 0, 0);

    transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);

    &--is-open {
        /* opacity: 1; */
        transform: translate3d(0, 0, 0);
    }
}


.hamburger {
    width: 40px;
    height: 40px;
    position: absolute;
    z-index: 2;
    /* border: 1px solid red; */
    &:hover {
        cursor: pointer;
    }

    &__icon, &::after, &::before {
        width: 28px;
        height: 2px;
        background-color: #333;
        transition: all .5s ease-out;
    }

    &__icon {
        position: absolute;
        top: 8px;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        transform-origin: 0 0;
    }
    &::after {
        content: "";
        position: absolute;
        top: 16px;
        transform-origin: 0 0;
        /* background-color: pink; */

    }

    &--is-close-icon {
        &::before {
			transform: rotate(45deg) scaleX(1.2) translateX(0px) translateY(-2px);
            background-color: #fff;
        }

		& .hamburger__icon {
			/* opacity:0; */
			transform: scaleX(0);
		}

		&::after {
			transform: rotate(-45deg) scaleX(1.2) translateX(-4px) translateY(4px);
            background-color: #fff;
        }
    }

}

.secondary-nav-container {
    max-width: 1024px;
    margin:0 auto;
}

.secondary-nav { /* nav */
    
    position: sticky;
    background-color: #fff;
    z-index: 100;
    transition: all .35s ease-out;
    /* top: 102px; */
    top:0px;


    /* margin-left: 80px; */
    letter-spacing: 1px;

    &__list { /* ul */

        display: flex;
        justify-content: flex-start;
        padding: 32px;
    }

    &__item { /* li */

    }

    &__link { /* a */
        color:rgba(#000, .3);
        position: relative;
        margin-right: 20px;
        &.is-current-link {
            color: $primaryCol-point;
            &::after {
                content: "";                
                position: absolute;
                bottom: -12px;
                left: 0;
                width: 99%;
                border-bottom: 2px solid rgba(#9028EF, .7);
            }
        }
    }

}