.nav-list {
    width: 100vw;
    margin-left: -32px;
    padding-left: 32px;
    padding-right: 32px;
    position: relative;
    display: flex;
    white-space: normal; 
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;


    @mixin atSmall {
        white-space: normal;
    }

    @mixin atMedium {
        flex-wrap: wrap;
        width: 100%;
    }

    &__item {
        /* border: 1px solid #F1F2F6; */
        margin-right: 2%;
        margin-bottom: 20px;
                
        @mixin atMedium {
            margin-right: 2%;
            flex-basis: 30%;
        }
    }

    &__item:last-child {
        padding-right: 32px;

        @mixin atMedium {
            padding-right: 0;
        }
    }

    /* &__item:nth-child(even) {
        margin-right: 0;    
    } */

    &__link {
        /* display: block; */
        color: #000;
        /* padding: 10px 20px; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__active {
        &.nav-list__thum {
            border: 1px solid #8149ff;

            &::before {
                content:'You are here';
                position: absolute;
                top: -20px;
                left: 40px;
                color: #8149ff;
                font-size: 13px;
                /* padding: 10px; */
                width:100px;
                height:4px;
                /* background-color: #6624ff; */
            }    
        }
    }

    &__thum {
        /* border-radius: 50%; */
        margin-top: 20px;
        width: 150px;
        height: 80px;
        border: 1px solid #F1F2F6;

        background-image: url('../../assets/images/work_hero_01_mine.jpg');
        background-size: 150%;
        background-repeat: no-repeat;
        background-position: center center;
        position: relative;
    }

    &__title {
        padding: 15px;
        text-align: center;
    }
}