.primary-nav {
    display: none;

    &__list {
        display: flex;
        justify-content: space-between;
        width: 346px;
    }

    &__list li {
    }

}

.overlay-nav {
    /* opacity: 0; */
    width: 100%;
    height: 100%;
    background-color: rgba(46, 58, 62, 1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 150;
    transform: translate3d(-100%, 0, 0);

    transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);

    &--is-open {
        /* opacity: 1; */
        transform: translate3d(0, 0, 0);
    }
}


.hamburger, .icon__close {
    width: 40px;
    height: 40px;
    z-index: 110;

    &:hover {
        cursor: pointer;
    }

    &--center, &::after, &::before {
        width: 28px;
        height: 2px;
        background-color: #fff;
        transition: all .8s ease-out;
    }

    &--center {
        position: absolute;
        top: 8px;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        transform-origin: 0 0;
    }
    &::after {
        content: "";
        position: absolute;
        top: 16px;
        transform-origin: 0 0;
        /* background-color: pink; */

    }
}

.hamburger {
    top: 12px;
    left: 15px;
    position: relative;
}

.hamburger{
    &--black::after{
        background-color: #000;
    } 
    &--black::before {
        background-color: #000; 
    }
    &--black .hamburger--center {
        background-color: #000; 
    }
}

.icon__close {
    top: 50px;
    right: 16px;
    position: absolute;
    z-index: 200;
    opacity: 0;
        &--center {
            transform: scaleX(0);
        }    

        &::before {
			transform: rotate(45deg) scaleX(1.2) translateX(0px) translateY(-2px);
            background-color: #fff;
        }
		&::after {
			transform: rotate(-45deg) scaleX(1.2) translateX(-4px) translateY(4px);
            background-color: #fff;
        }

        &--is-on{
            animation: fadeIn 1s ease 300ms alternate forwards;
            -webkit-animation: fadeIn 1s ease 300ms alternate forwards;
        }

        &--is-on-at-dynamic {
            animation: fadeIn 1s ease 300ms alternate forwards;
            -webkit-animation: fadeIn 1s ease 300ms alternate forwards;
            top: 20px;
        }
}





.secondary-nav { /* nav */
    
    position: sticky;
    background-color: #fff;
    z-index: 100;
    transition: all .35s ease-out;
    /* top: 102px; */
    top:0px;

    /* margin-left: 80px; */
    letter-spacing: 1px;
    border-bottom: 1px solid #F0EEEE;

    &-container {
        max-width: 1024px;
        margin:0 auto;
    }


    &__list { /* ul */
        display: flex;
        justify-content: flex-start;
        padding: 28px 32px 32px 32px;
    }

    &__item { /* li */

    }

    &__link { /* a */
        color:rgba(#000, .3);
        position: relative;
        margin-right: 20px;

        &.is-current-link {
            color: $primaryCol-point;
            &::after {
                content: "";                
                position: absolute;
                bottom: -12px;
                left: 0;
                width: 99%;
                border-bottom: 2px solid rgba(#9028EF, .7);
            }
        }
    }

}
