.section {
    padding-top: 60px; /* General sections for all pages */

    &__banner {
        background-color: $primaryCol;
        text-align: center;
        color: #fff;
        font-weight: 300;
        padding-left: 70px;
        padding-right: 70px; 

        &-eyebrow {
            color: rgba(#ffffff, 0.7);
        }

        &-copy {
            margin-top: 15px;
            line-height: 1.6;
            letter-spacing: 1px;
            font-size: 20px;
        }
    }

    &__container { /* contain A-level */
        max-width: 960px;
        margin: 0 auto;
        
        @mixin atMedium {
            padding-right: 20%;
        }
    }

    &__container--full {
        max-width: 960px;
        padding: 0 32px;
        margin: 130px auto; 
        overflow: hidden;     
    }

    &__illust {
        max-width: 700px;
        margin: 30px 0;
        @mixin atMedium {
            width: 600px;
        }
    }

    /************** Each Block *************/

    &__header {  /* wrapper A-level */
        padding: 0 32px;
        max-width: 700px;
        /* border: 1px solid blue; */
    }

    &__side {   /* wrapper A-level */
        /* border: 1px solid orange; */

        &--left-padding {
            padding: 0 32px;
        }

        &--right-padding {
            padding: 0 32px;
        }

        &-container {
            margin-top: 24px;

            & > img {
                width: 100%;
                height: 300px;
                object-fit: cover;
            }

            & > .img1 {
                margin-bottom: 20px;
            }

            @mixin atMedium {

                & > .img1 {
                    margin-right: 3%;
                    margin-bottom: 0;
                }

                & > img {
                    width: 45%;
                }

            }
        }
    }

    &__cta {   /* wrapper A-level */
        padding: 0 32px;
        border: 1px solid red;
        text-align: center;
    }

    /************** Section Specific Elements *************/

    &__eyebrow {
       letter-spacing: 1.4px; 
       font-size: 14px;
       font-weight: 500;
       color: $primaryCol-point;

       &--bw1 { /* an inner part eyebrow of a certain section */
            color: #505050;
            padding-top: 50px;
            text-align: center;
       }
    }

    &__heading {
        margin-top: 20px;
        transform: translateY(10px);
        font-size: 22px;
        font-weight: 400;
        line-height: 1.4;
        letter-spacing: -0.6px;
        /* color: $heading-black; */
        /* margin-top: 30px; */
        transform: translateX(-2px); /* aligned to the left */
        @mixin atSmall {
            font-size: 32px;
        }
    }

    &__paragraph {
        margin-top: 16px;
        font-weight: 400;
        line-height: 1.8;
        letter-spacing: .5px; 
        color: #303030;
    }
}