.site-footer {
    background: linear-gradient(to top, rgba(125, 53, 214, 0.90) 0%, rgba(70, 23, 171, 0.90) 100%);
    color: #fff;
    letter-spacing: .8px;
    position: relative;
    overflow: hidden;

    &__content {
        padding: 70px 0;
    }

    &__title {
        font-size: 32px;
        font-weight: 700;
        letter-spacing: .6px;
        margin-bottom: 40px;
        /* text-transform: uppercase; */
    }

    &__inner-container {
        display: flex;
        flex-direction: column;

        @mixin atMedium {
            flex-direction: row;
        }
    }

    &__site-map {
        flex: 1 auto;
        order: 1;
        margin-right: 190px;

        @mixin atMedium {
            order: 0;
        }
    }

    &__contact {
        flex: 1 auto;
        margin-bottom: 40px;
        & > * {
            margin-bottom: 10px;
        }

        &-email {
            font-size: 18px;
        }

        &-status {
            opacity: .6;
        }
/* 
        &-social {
            display: flex;
        } */
    }



    &__copyright {
        margin-top: 30px;
        line-height: 1.6;
        color: rgba(#fff, .6);
    }
}