.site-header {
    position: relative;
    width: 100%;
    background-color: #fff;
    transition: all .35s ease-out;

    &--no-bg {
        background-color: transparent;
    }

    &--standard {
        position: absolute;
        z-index: 1;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 120px; 

        &--dynamic {
            height: 60px; 
        }
    }

    &__logo-text {
        font-size: 32px;
        margin-top: -1px;
        font-weight: 700;
        letter-spacing: -.5px;
        color: #fff;

        &--black {
            color: #000;
            font-weight: 900;
            letter-spacing: -1px;
        }
    }

    &__menu-content {
        position: relative;
    }
}

.site-header--dynamic {
    position: fixed;
    height: 60px;
    top: -90px;
    z-index: 110;
    /* border: 1px solid orchid; */
}

.hide-dynamic-header {
    top: -120px;
}